<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <queries>
        <package android:name="com.byd.carsettings" />
        <package android:name="com.byd.appmgr" />
        <package android:name="com.byd.deviceinfo" />
        <package android:name="com.byd.service" />
        <package android:name="com.byd.clusterdebug" />
        <package android:name="com.ts.car.someip.service" />
        <package android:name="com.byd.amapservice" />
        <package android:name="com.byd.automap" />
    </queries>
</manifest>
