<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools">
    <application android:label="DiPlay HUD Test" tools:replace="android:label">
        <!-- Legacy BYD debug entry points are intentionally not registered. -->
    </application>
</manifest>
